
body{
    color: white;
}

.estilo {
    background-color: rgb(7, 4, 65);
}
.estilo2 {
    background-color: rgb(38, 16, 58);
}
 .foto {
     width: 300px;
 }

 .cuco{
     border: 3px whitesmoke solid ;
 }

